body, h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: -apple-system,BlinkMacSystemFont,".SFNSText-Regular","San Francisco","Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",sans-serif;
}

.intl-tel-input {
  display: block;
  .flag-container {
    top: 15px;
  }
}

md-switch {
  margin: 0 0 16px;
}

body {
  background: #fafafa;
}

.m0 { margin: 0 }
.mt0 { margin-top: 0 }
.mb0 { margin-bottom: 0 }
.mr0 { margin-right: 0 }
.ml0 { margin-left: 0 }

.m10 { margin: 10px }
.mt10 { margin-top: 10px }
.mb10 { margin-bottom: 10px }
.mr10 { margin-right: 10px }
.ml10 { margin-left: 10px }

.m15 { margin: 15px }
.mt15 { margin-top: 15px }
.mb15 { margin-bottom: 15px }
.mr15 { margin-right: 15px }
.ml15 { margin-left: 15px }

.m20 { margin: 20px }
.mt20 { margin-top: 20px }
.mb20 { margin-bottom: 20px }
.mr20 { margin-right: 20px }
.ml20 { margin-left: 20px }

.p0 { padding: 0 }
.pt0 { padding-top: 0 }
.pb0 { padding-bottom: 0 }
.pr0 { padding-right: 0 }
.pl0 { padding-left: 0 }

.p10 { padding: 10px }
.pt10 { padding-top: 10px }
.pb10 { padding-bottom: 10px }
.pr10 { padding-right: 10px }
.pl10 { padding-left: 10px }

.p15 { padding: 15px }
.pt15 { padding-top: 15px }
.pb15 { padding-bottom: 15px }
.pr15 { padding-right: 15px }
.pl15 { padding-left: 15px }

.p20 { padding: 20px }
.pt20 { padding-top: 20px }
.pb20 { padding-bottom: 20px }
.pr20 { padding-right: 20px }
.pl20 { padding-left: 20px }

